.searchDiv {
  position: absolute;
  top: 10%;
  width: 100%;
  color: white;
}

.header {
  margin: 2px;
  padding-left: 5px;
}

.input {
  display: inline-block;
  width: 63%;
  margin-left: 2%;
  height: 24px;
  border-radius: 2px;
  font-weight: 700;
  font-size: 20px;
  padding: 5px;
  top: 0%;
}

.icon {
  width: 50px;
  vertical-align: bottom;
  color: white;
  cursor: pointer;
}


.button {
  margin-left: 10px;
  background-color: #153042;
  border: none;
  vertical-align: bottom;
}

.icon:hover {
  width: 50px;
  vertical-align: bottom;
  color: grey;
  cursor: pointer;
  transform: scaleX(1.15);
}
