.searchDiv {
  position: absolute;
  top: 30%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.header-div{
  margin: 0 auto;
  width: 76%;
  padding-left: 5px;
  text-align: center;
}

.header-text {
  width: 63%;
  text-align: left;
  margin: 0
}

.input {
  display: inline-block;
  width: 63%;
  margin-left: 2%;
  height: 24px;
  border-radius: 2px;
  font-weight: 700;
  font-size: 20px;
  padding: 5px;
  top: 0%;
}

.icon {
  width: 50px;
  vertical-align: bottom;
  color: white;
  cursor: pointer;
}


.button {
  margin-left: 10px;
  background-color: #153042bd;
  border: none;
  vertical-align: bottom;
}

.icon:hover {
  width: 50px;
  vertical-align: bottom;
  color: grey;
  cursor: pointer;
  transform: scaleX(1.15);
}
