.side-nav-style {
  width: 100%;
  height: 100%;
  float: left;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #153042
}

.sources-header {
  color: white;
  margin-left: 10px;
}
