.source {
  background-color: grey;
  margin: 3px;
  padding: 3px;
  border: solid black 1px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  width: 30%;
  display: inline-block;

}
.source:hover {
  background-color: #eb803c;
  cursor: pointer;
  color: #153042;
}

.active {
  background-color: #eb803c;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 5px;
  border: solid black 1px;
  border-radius: 5px;
  color: white;
}
