.topNavStyle {
  width: 100%;
  height: 100vh;
  z-index: 1;
  border: solid black .5px;
  background-color: #153042d4;
  position: relative;
}

.nav-image {
  background-image: url('./../../assets/images/papers.jpg');
  z-index: -1;
  background-size: cover;
}

.flex-box {
  position:absolute;
  bottom: 0;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.category-one{
  padding: 10px;
  height: 30px;
  border: solid grey 3px;
  color: grey;
  font-size: 20px;
  cursor: pointer;
}

.category-two{
  padding: 10px;
  height: 30px;
  border: solid grey 3px;
  border-left: none;
  color: grey;
  font-size: 20px;
  cursor: pointer;
}

.category-one:hover{
  padding: 10px;
  height: 30px;
  border: solid grey 3px;
  border-bottom: none;
  color: grey;
  font-size: 21px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.category-two:hover{
  padding: 10px;
  height: 30px;
  border: solid grey 3px;
  border-bottom: none;
  border-left: none;
  color: grey;
  font-size: 21px;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.activeTab {
  padding: 10px;
  height: 30px;
  border: solid grey 3px;
  border-bottom: none;
  color: #eb803c;
  font-size: 21px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.login {
  float: right;
  font-size: 18px;
  color: grey;
  padding: 5px;
}

.login:hover {
  float: right;
  font-weight: bold;
  font-size: 18px;
  color: #eb803c;
  padding: 5px;
}
