.topNavStyle {
  width: 76%;
  height: 200px;
  border: solid black .5px;
  float: right;
  background-color: #153042;
  position: relative;
}

.flex-box {
  position:absolute;
  bottom: 0;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.category{
  padding: 10px;
  height: 30px;
  border: solid #eb803c 3px;
  color: grey;
  font-size: 20px;
}

.activeTab {
  padding: 10px;
  height: 30px;
  border: solid #eb803c 3px;
  border-bottom: none;
  color: grey;
  font-size: 20px;
}
